.achievements-wrapper {
  height: 100vh;
}

.achievements-wrapper .simplebar-track { display: none; }

.achievements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 130px 50px 113px 50px;
  max-width: 1270px;
  margin: 0 auto;
}

/* --------------- */
/* Mimic scrollbar */
/* --------------- */

.mimic-scroll {
  position: absolute !important;
  top: 144px;
  right: 50px;
  width: 12px;
  /* height: calc(100% - 144px - 127px); */
  height: 500px;
  z-index: 40;
}