.card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 985px;
  height: 596px;
  background: #fbe4d4 url('../img/bg-event-large.png') center top no-repeat;
  background-size: cover;
  border: 18px solid #fcfdef;
  transform: rotate(-1.9deg);
  box-shadow: 0 6px 8px rgba(0,0,0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  height: 70px;
  margin-bottom: 29px;
  display: flex;
  align-items: flex-end;
  font-size: 32px;
  color: #5f5228;
  font-weight: 700;
}

.card__description {
  height: 247px;
  width: 782px;
  position: relative;
}

.card__description::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('../img/card-description-bg.svg') center no-repeat;
  background-size: 100%;
  opacity: 0.3;
}

.card__description__nook {
  
}

.card-badges {
  height: 215px;
  display: flex;
  align-items: center;
  position: relative;
}

.card-badges--1 .card-badges__track { height: 147px; }
.card-badges--2 .card-badges__track { height: 137px; }
.card-badges--3 .card-badges__track { height: 137px; }
.card-badges--4 .card-badges__track { height: 137px; }
.card-badges--5 .card-badges__track { height: 137px; }
.card-badges--6 .card-badges__track { height: 127px; }

.card-badges__track {
  height: 100%;
}

.card-badges__stamp {
  height: 145px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.card-badges--1 .card-badges__stamp { height: 155px; }
.card-badges--6 .card-badges__stamp { height: 130px; }

.card-badges--1 .card-badges__stamp--1 { transform: translate(-51%, -51%) rotate(0deg); }

.card-badges--2 .card-badges__stamp--1 { transform: translate(-110%, -52%) rotate(-3deg); }
.card-badges--2 .card-badges__stamp--2 { transform: translate(11%, -51%) rotate(0deg); }

.card-badges--3 .card-badges__stamp--1 { transform: translate(-163%, -50%) rotate(13deg); }
.card-badges--3 .card-badges__stamp--2 { transform: translate(-55%, -50%) rotate(-8deg); }
.card-badges--3 .card-badges__stamp--3 { transform: translate(64%, -50%) rotate(5deg); }

.card-badges--4 .card-badges__stamp--1 { transform: translate(-220%, -52%) rotate(9deg); }
.card-badges--4 .card-badges__stamp--2 { transform: translate(-105%, -49%) rotate(-7deg); }
.card-badges--4 .card-badges__stamp--3 { transform: translate(10%, -52%) rotate(4deg); }
.card-badges--4 .card-badges__stamp--4 { transform: translate(116%, -49%) rotate(-3deg); }

.card-badges--5 .card-badges__stamp--1 { transform: translate(-258%, -50%) rotate(8deg); }
.card-badges--5 .card-badges__stamp--2 { transform: translate(-157%, -50%) rotate(-5deg); }
.card-badges--5 .card-badges__stamp--3 { transform: translate(-52%, -50%) rotate(3deg); }
.card-badges--5 .card-badges__stamp--4 { transform: translate(57%, -50%) rotate(11deg); }
.card-badges--5 .card-badges__stamp--5 { transform: translate(159%, -50%) rotate(-9deg); }

.card-badges--6 .card-badges__stamp--1 { transform: translate(-312%, -50%) rotate(10deg); }
.card-badges--6 .card-badges__stamp--2 { transform: translate(-208%, -52%) rotate(-6deg); }
.card-badges--6 .card-badges__stamp--3 { transform: translate(-103%, -50%) rotate(7deg); }
.card-badges--6 .card-badges__stamp--4 { transform: translate(-2%, -52%) rotate(-1deg); }
.card-badges--6 .card-badges__stamp--5 { transform: translate(104%, -50%) rotate(6deg); }
.card-badges--6 .card-badges__stamp--6 { transform: translate(209%, -52%) rotate(-10deg); }