.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: #c2cff2 url('../img/paper-bg.png') center repeat;
}

.carousel--hidden {
  /* Time to go learn more React and fix this, don't judge me */
  position: absolute !important;
  top: -9999px;
  left: -9999px;
}

.carousel .button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
  cursor: pointer;
}

/* -------------------- */
/* Prev and next arrows */
/* -------------------- */

.carousel__button {
  z-index: 200;
  cursor: pointer;
}

.carousel__button svg {
  width: 100%;
  height: 100%;
  fill: #f5f9d4;
}

.carousel__button--prev,
.carousel__button--next {
  width: 62px;
  height: 174px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__button--prev { left: 28px; }
.carousel__button--next { right: 28px; }
.carousel__button--next svg { transform: rotate(180deg); }

.carousel--first-slide .carousel__button--prev { display: none; }
.carousel--last-slide .carousel__button--next { display: none; }