.nook-miles {
  position: absolute;
  top: 20px;
  right: 34px;
  z-index: 1000;
  background: url('../img/nook-miles-bg.svg') center no-repeat;
  width: 190px;
  height: 107px;
  transform: rotate(3deg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nook-miles__icon {
  width: 66px;
  height: 32px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0 0 3px;
}

.nook-miles__icon img {
  width: 90%;
  transform: rotate(2deg);
}

.nook-miles__count {
  width: 177px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bfdcfe;
  font-size: 34px;
  padding-top: 5px;
  font-weight: 700;
}